## <font color='skyblue'>쥬피터 노트북 명령어 </font>

- 명령모드(ESC,파란색)
    - a (셀위에 신규셀 생성)
    - b (셀 아래에 신규셀 생성)
- 편집모드(enter,녹색)
    - 코드: esc + y
    - 코드(라인): esc + l
    - 마크다운: esc + m
 
- 실행: Shift + enter

## 변수선언, 자료형(datatype)
- 변수를 선언할 때, 메모리에 저장공간이 만들어지고 그안에 데이터(값)저장하는 것. 
- 변수이름 = 데이터 값 (변수 할당연산자 =)
    - "동적타이핑" 의 의미, 자료형을 선언해주지 않아도 리터럴 표현식에 의해 자료형을 알 수 있다.

## 자료형

- 숫자(number) 
    - int : n
    - float : n.

- 문자열(string) : ' ', " "

- 불린(Boolean) : True, False

- "배열(array)": 순서가있는 여러개의 데이터,
    - 리스트: [ ] , Stack
    - 튜플: ( )
    - 딕셔너리 (해시) : {"key":"value"} (키, 밸류 쌍으로 존재)
    - 셋: {"key"} (키만 존재), "집합"
    
- 기타 advanced 자료구조: collections

"배열(array)": 순서가있는 여러개의 데이터,
   
    - 리스트: [ ] , Stack
    - 튜플: ( )
    - 딕셔너리 (해시) : {"key":"value"} (키, 밸류 쌍으로 존재)
    - 셋: {"key"} (키만 존재), "집합"
    
- 기타 advanced 자료구조: collections

## type() : 자료형을 확인하는 파이썬 내장함수

## 연산자

- 숫자: +-*/ // % 
- 문자열: +, *

In [13]:
a = 30

In [14]:
a

30

In [21]:
a = 30.

In [22]:
type(a)

float

In [23]:
b = 30

In [24]:
type(b)

int

In [25]:
c = '30'

In [26]:
type(c)

str

In [27]:
a = 10
b = 20

In [28]:
a + b

30

In [29]:
a - b

-10

In [30]:
a * b

200

In [31]:
a ** b

100000000000000000000

In [32]:
a / b

0.5

In [36]:
# 나머지 연산자 

a // b

0

In [37]:
# 몫 연산자

a % b

10

In [40]:
a = 'hello'
b = 'python'

In [41]:
a + b

'hellopython'

In [46]:
a * 3

'hellohellohello'

In [47]:
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
a - b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# String 관련 메소드 

- .join()
- .split()
- .upper(): 대문자로 변환하는 함수.
- .lower(): 소문자로 변환하는 함수.
- .replace('바꿀 문자열', '바뀔문자열'): 문자열 치환.
- .strip(): 공백제거하는 함수.
- .find('문자열'): 특정 문자열의 위치를 찾는 함수.

In [55]:
mystring = 'abcdefgh'
mystring = mystring.upper()

In [56]:
mystring

'ABCDEFGH'

In [57]:
mystring.lower()

'abcdefgh'

In [58]:
word = 'data science'

In [61]:
word.replace('d', 'DD')

'DData science'

In [65]:
a = '     hello            '

In [67]:
a

'     hello            '

In [68]:
a.find('h')

5

### 슬라이스 연산

- 문자열, 리스트, 튜플
- []
- 특정 위치의 데이터를 선택하는 방법
- [index]: 특정 위치 하나의 데이터를 선택
- [start:end]: 시작과 끝 구간의 데이터를 선택
- [start:end:stride]: 시작과 끝을 범위로 구간별로 선택

In [69]:
a = 'hello python'

In [70]:
len(a)

12

In [78]:
a = '1234567890'

In [80]:
a[::-1]

'0987654321'

## Q1. 0~9까지의 문자열 데이터를 짝수만 거꾸로 출력하는 코드 작성하기.

In [83]:
data = '0123456789'

In [88]:
result = data[::2]
result = result[::-1]
print(result)

86420

## Q2

In [90]:
data = 'hello world'
#result = 'World Hello'

In [103]:
R1 = data[:5] #hello
R2 = data[6:] #world
R2[0].upper() + R2[1:] + ' '+R1[0].upper() + R1[1:]

'World Hello'

## unpacking / packing

- Packing: 파이썬에서는 기본적으로 TUPLE형태로 패킹 된다. 

• 패킹(packing): 한 변수에 여러 개의 데이터를 할당하는 것.

• 언패킹(unpacking): 한 변수의 데이터를 각각의 변수로 반환하는 것.
- 예제 기억할것!

In [109]:
t = 1, 2, 3
t

(1, 2, 3)

In [114]:
c = 1, 1, 1

In [115]:
c

(1, 1, 1)

In [112]:
b

1

In [113]:
c

1

## LIST

- 리스트: 시퀀셜한 배열 (순서가있고, 집합)
- 리스트는 인덱싱이 가능하다. 

- .append()
- .extend()
- .insert()
- .pop()
- .remove()
- .sort()
- .reverse()

In [139]:
color = ['red', 'white', 'yellow']

In [117]:
color.append('black')

In [118]:
color

['red', 'white', 'yellow', 'black']

In [119]:
color.pop()

'black'

In [120]:
color

['red', 'white', 'yellow']

In [124]:
color.extend(['black'])

In [126]:
color

['red', 'white', 'yellow', 'black']

In [127]:
color.pop()

'black'

In [136]:
color

['red', 'yellow']

In [134]:
color.pop(1)

'white'

In [137]:
color.remove('red')

In [141]:
color

['red', 'white', 'yellow']

In [142]:
color.insert(1,'balck')

In [143]:
color

['red', 'balck', 'white', 'yellow']

In [144]:
color

['red', 'balck', 'white', 'yellow']

In [145]:
color.sort()

In [146]:
color

['balck', 'red', 'white', 'yellow']

In [147]:
mynum = [1,4,3,23,6,4,2,1,1,23,5]

In [148]:
mynum.sort()

In [150]:
mynum.reverse()

In [151]:
mynum

[23, 23, 6, 5, 4, 4, 3, 2, 1, 1, 1]

In [152]:
a = 'hello'

## String 메소드.. 

- join()
- split() : string.split(구분자(seperator)), 리스트 형태.

In [155]:
word = 'hello python and programming'

In [160]:
m = word.split()
m

['hello', 'python', 'and', 'programming']

In [162]:
" ".join(m)

'hello python and programming'

## Q3. 다음 data 문자열을 result의 문자열로 변환 하세요. 

- data = 'Beatiful-is-better-than-agly.' 
- result = 'Beatiful Is Better Than Agly.''

In [168]:
data ='Beatiful-is-better-than-agly.'

In [172]:
j = data.split('-')

k = j[0][0].upper() + j[0][1:] + ' '+ j[1][0].upper() + j[1][1:] + ' '
k

'Beatiful Is '

## Dictinary

## 내장함수 (Built-in Function)

## SET

- {}, 키값만 존재, 즉 고유 값만 존재. 
- .union(셋)
- .intersection(셋)
- .different(셋)

In [176]:
mylist = [1,1,2,2,3,3,4,4,5,5]

In [177]:
mylist

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [178]:
myset = set(mylist)

In [179]:
myset

{1, 2, 3, 4, 5}

In [180]:
myset.union({6,5,4,3})

{1, 2, 3, 4, 5, 6}