# Pandas Transform 실전 연습 문제

### 0. 데이터 불러오기

In [2]:
import pandas as pd
import numpy as np

In [5]:
#read_csv()

In [5]:
!pwd

/Users/jooyoungson/Sample/PythonProgramming

In [4]:
df = pd.read_csv('Salaries.csv')
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
#head()

In [7]:
#tail()

In [8]:
#info()

### 1. 평균 basepay는 얼마인가요?

In [9]:
#mean()

### 2. 최대 OvertimePay는 얼마인가요?

In [10]:
#max()

### 3. JOSEPH DRISCOLL의 job title은 무엇인가요?

In [11]:
#[]

### 4. JOSEPH DRISCOLL의 급여는 얼마인가요? (benefits 포함해서)

In [12]:
#

### 5. 월급(Benefit포함) 이 가장 높은 사람은 누구인가요?

In [13]:
#

### 6. 월급(Benefit포함) 이 가장 낮은 사람은 누구인가요?

In [14]:
#

### 7. 2011~2014년 동안의 BasePay의 평균은 얼마 인가요?

In [15]:
#

### 8. JobTitle의 종류는 몇개 인가요?

In [16]:
#unique()

### 9. JobTitle중 가장 많은 상위 5개의 JobTitle은 무엇인가요?

In [18]:
#value_counts()

In [19]:
birth = ['880203','900211','991103','890713','980811']

In [20]:
result = []
for i in birth:
    k = int(i)
    result.append(k)
result

[880203, 900211, 991103, 890713, 980811]

In [21]:
sorted(result)

[880203, 890713, 900211, 980811, 991103]