# Pandas Transform 실전 연습 문제

### 0. 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [3]:
sal = pd.read_csv('Salaries.csv')

In [22]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148645 entries, 0 to 148644
Data columns (total 13 columns):
Id                  148645 non-null int64
EmployeeName        148645 non-null object
JobTitle            148645 non-null object
BasePay             148040 non-null float64
OvertimePay         148645 non-null float64
OtherPay            148645 non-null float64
Benefits            112486 non-null float64
TotalPay            148645 non-null float64
TotalPayBenefits    148645 non-null float64
Year                148645 non-null int64
Notes               0 non-null float64
Agency              148645 non-null object
Status              38114 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 14.7+ MB

In [36]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148645.000000,148040.000000,148645.000000,148645.00000,112486.000000,148645.000000,148645.000000,148645.000000,0.0
mean,74323.000000,66327.688960,5066.230294,3648.89419,25009.004751,74772.853123,93698.231767,2012.522554,NaN
std,42910.259719,42763.620451,11454.535520,8056.70753,15401.655689,50515.178054,62791.195806,1.117512,NaN
min,1.000000,-166.010000,-0.010000,-7058.59000,-33.890000,0.000000,-33.890000,2011.000000,NaN
25%,37162.000000,33590.347500,0.000000,0.00000,11540.527500,36173.240000,44083.120000,2012.000000,NaN
50%,74323.000000,65008.860000,0.000000,811.35000,28628.875000,71427.790000,92406.390000,2013.000000,NaN
75%,111484.000000,94691.050000,4658.480000,4236.74000,35566.957500,105846.060000,132880.270000,2014.000000,NaN
max,148645.000000,319275.010000,245131.880000,400184.25000,96570.660000,567595.430000,567595.430000,2014.000000,NaN

### 1. 평균 basepay는 얼마인가요?

In [11]:
sal['BasePay'].mean()

66327.68895967308

-166.01

### 2. 최대 OvertimePay는 얼마인가요?

In [15]:
sal['OvertimePay'].max()

245131.88

### 3. JOSEPH DRISCOLL의 job title은 무엇인가요?

In [19]:
sal[sal['EmployeeName'] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [18]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

### 4. JOSEPH DRISCOLL의 급여는 얼마인가요? (benefits 포함해서)

In [20]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

### 5. 월급(Benefit포함) 이 가장 높은 사람은 누구인가요?

In [ ]:
sal["TotalPayBenefits"] == sal["TotalPaybenefits"].max()

In [24]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

### 6. 월급(Benefit포함) 이 가장 낮은 사람은 누구인가요?

In [25]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013,NaN,San Francisco,NaN

### 7. 2011~2014년 동안의 BasePay의 평균은 얼마 인가요?

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011    4531.065429
2012    5023.417824
2013    5281.641980
2014    5402.702400
Name: OvertimePay, dtype: float64

### 8. JobTitle의 종류는 몇개 인가요?

In [32]:
sal['JobTitle'].nunique()

2158

### 9. JobTitle중 가장 많은 상위 5개의 JobTitle은 무엇인가요?

In [35]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

### lambda 설명 올리기
### pandas group by 설명 추가.